<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <script src="{% static 'js/jquery1111.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="wrap-body">
            <header class="main-header">
                <div class="zerogrid">
                    <div class="t-center">
                        <div id='cssmenu' class="align-center">
                            <ul>
                                {% if user.type == 'STUDENT' %}
                                    <h2><li><a><span style="color:blue;">Student Dashboard</span></a></li> </h2>
                                    <li><a id="view_attendance"><span>View Attendance</span></a></li>
                                    <li><a id="view_exam_marks"><span>View Exam Marks</span></a></li>
                                {% elif user.type == 'PARENT' %}
                                    <h2><li><a><span style="color:green;">Parent Dashboard</span></a></li></h2>
                                    <li><a id="link_student_account"><span>Link Your Student's Account</span></a></li>
                                    <li><a id="view_attendance"><span>View Attendance</span></a></li>
                                    <li><a id="view_exam_marks"><span>View Exam Marks</span></a></li>
                                {% elif user.type == 'TEACHER' %}
                                    <h2> <li><a><span style="color:red;">Teacher Dashboard</span></a></li></h2>
                                    <li><a id="enroll_student"><span>Enroll Student</span></a></li>
                                    <li><a id="create_exam"><span>Create exams</span></a></li>
                                    <li><a id="finish_exam"><span>Exams</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

                <form method="post">
                <footer>
			        <div class="zerogrid wrap-footer">
			        	<div class="row">
                             <div id='cssmenu-modified' class="align-center">
                                <ul>
                                   <a id="logout"><span>Logout</span></a>
                                 </ul>
                            </div>
			        	</div>
			        </div>
		        </footer>
            </form>
        </div>

    </body>
</html>

<script>
    $(document).ready(function (e) {
            $('#logout').on('click', (function (e) {
                $.ajax({
                    type: 'POST',
                    url: "/user/logout/",
                    data : 'json',
                    datatype: 'json',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function (data) {
                        window.location.href='/';
                    },
                    error: function (data) {
                        alert("ERROR " + data.status + " " + data.statusText + " : "+data.responseJSON.message);
                        location.reload();
                    }
                });
            }));
        });

    $('#enroll_student').click(function() {
        window.location.href = '/teacher/enroll-student/';
    });

    $('#create_exam').click(function() {
        window.location.href = '/teacher/exams/';
    });

    $('#finish_exam').click(function() {
        window.location.href = '/teacher/active-exams/';
    });


</script>